/*-------------------
    reset
-------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*-------------------
    variables & globals
-------------------*/

html {
  --color-red: #c33124;
  --color-blue: #a1dffb;
  background-color: rgb(247, 247, 247);
}

.header {
  font-family: "Fira Sans", sans-serif;
}

.main {
  font-family: "Fira Sans", sans-serif;
  width: 100%;
  height: 52rem;
  display: flex;
  padding-bottom: 1rem;
}

button {
  height: 4rem;
  width: 12rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

/*-------------------
    header
-------------------*/

.header {
  width: 100%;
  min-width: 100rem;
}

.header__header {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  font-size: 3rem;
}

/*-------------------
    place-ships
-------------------*/

.place-ships {
  width: 25%;
  min-width: 25.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.place-ships--hidden {
  display: none;
}

.ship--activated {
  transform: scale(1.1);
}

.ship--deactivated {
  cursor: not-allowed;
}

.ship--disabled {
  transform: scale(1.1);
  opacity: 0;
  cursor: initial;
}

.ship--deactivated.ship:hover {
  transform: none;
}

.place-ships__board {
  border: 2px solid black;
  border-collapse: collapse;
  width: 91%;
  min-width: 51rem;
  display: flex;
  flex-wrap: wrap;
}

.place-ships__board--hidden {
  display: none;
}

.place-ships__board-space {
  border: 2px solid black;
  min-width: 5rem;
  width: 10%;
  min-height: 5rem;
  cursor: pointer;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-ships__board-space--filled {
  background-color: black;
}

.place-ships__board-space--placed {
  background-color: black;
}

.direction-button {
  border-radius: 1.875 rem;
  overflow: hidden;
  width: 15rem;
  text-align: center;
  color: black;
  font-size: 1.3rem;
  position: relative;
  padding-right: 7.5rem;
  position: relative;
}

.direction-button:before {
  color: black;
  content: "Vertical";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.direction-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.direction-button-checkbox:checked + .direction-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}

.direction-button-checkbox + .direction-button-label {
  position: relative;
  padding: 0.938rem 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.direction-button-checkbox + .direction-button-label:before {
  content: "";
  background: rgb(199, 199, 199);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.direction-button-checkbox
  + .direction-button-label
  .direction-button-label-span {
  position: relative;
}

/*-------------------
    player-info
-------------------*/

.player-info {
  width: 25%;
  min-width: 25.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-info--hidden {
  display: none;
}

.player-info__image {
  padding: 0 2rem;
  margin-top: 1rem;
}

.player-info__board-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.player-info__ships {
  font-size: 1.7rem;
  margin: 0.5rem 0;
}

.player-info__board {
  width: 20.125rem;
  display: flex;
  flex-wrap: wrap;
  border-collapse: collapse;
}

.player-info__player-space {
  border-collapse: collapse;
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  transition: background-color 200ms ease-in-out;
}

.player-info__player-space--filled {
  background-color: black;
}

.player-info__player-space--hit {
  background-color: var(--color-red);
}

.player-info__player-space--miss {
  background-color: var(--color-blue);
}
/*-------------------
    game-area
-------------------*/

.game-area {
  min-width: 56rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area--hidden {
  display: none;
}

.game-area__gameboard {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50.25rem;
  display: flex;
  flex-wrap: wrap;
}

.game-area__gameboard-space {
  user-select: none;
  border: 2px solid black;
  min-width: 5rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 150ms ease-in-out;
}

.game-area__gameboard-space--hit {
  background-color: var(--color-red);
  cursor: not-allowed;
}

.game-area__gameboard-space--miss {
  background-color: var(--color-blue);
  cursor: not-allowed;
}

/*-------------------
    message-area
-------------------*/

.message-area {
  width: 25%;
  height: 15rem;
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.message-area__message {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.message-area__button {
  height: 4rem;
  width: 12rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: none;
}

.message-area__button--visible {
  display: block;
}

/*-------------------
    MEDIA
-------------------*/
/* 
@media only screen and (max-width: 64rem) {
  body {
    width: 100%;
  }

  button {
    height: 1.3rem;
    width: 6rem;
    font-size: 0.975rem;
  }

  button:hover {
    transform: initial;
  }

  button.ship--activated {
    transform: scale(1.05);
    background-color: var(--color-red);
  }

  .main {
    height: initial;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 100%;
    padding: 0.25rem;
  }

  .header {
    font-size: 1.3rem;
    width: 100%;
    min-width: 6.5rem;
  }

  .header__header {
    font-size: 1.3rem;
  }

  .place-ships {
    width: 14rem;
    min-width: 13rem;
  }

  .ship {
    margin: 0.5rem 0;
  }

  .place-ships__board {
    min-width: initial;
    justify-content: center;
    margin-bottom: 1rem;
    width: 13.249rem;
  }

  .place-ships__board-space {
    min-width: 1.3rem;
    min-height: 1.3rem;
    width: 1.3rem;
    height: 1.3rem;
  }

  .direction-button {
    width: initial;
  }

  .direction-button:before {
    width: 7rem;
  }

  .direction-button-checkbox:checked + .direction-button-label:before {
    transform: translateX(6.875rem);
    transition: transform 300ms linear;
  }

  .player-info {
    min-width: initial;
    width: 13rem;
  }

  .player-info__image {
    margin-top: 0;
  }

  .player-info__board-info {
    margin-top: 0;
  }

  .player-info__board {
    height: 13.249rem;
    width: 13.249rem;
    border: 2px solid black;
  }

  .player-info__player-space {
    min-width: 1.3rem;
    min-height: 1.3rem;
    width: 1.3rem;
    height: 1.3rem;
  }

  .game-area {
    min-width: initial;
    width: 14rem;
  }

  .game-area__gameboard {
    height: 13.249rem;
    width: 13.249rem;
    border: 2px solid black;
  }

  .game-area__gameboard-space {
    border-width: 1px;
    border-collapse: collapse;
    min-width: 1.3rem;
    min-height: 1.3rem;
    width: 1.3rem;
    height: 1.3rem;
    font-size: 0.5rem;
  }

  .message-area {
    width: 100%;
    min-height: 2.84375rem;
    height: initial;
    margin-bottom: 1rem;
  }

  .message-area__message {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 23rem) {
  .place-ships {
       transform: scale(0.65); 
  }

  .place-ships__board {
    height: 15.25rem;
    width: 15.25rem;
    border: 2px solid black;
  }

  .place-ships__board-space {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .player-info {
    width: 15.25rem;
  }

  .player-info__board-info {
    width: 100%;
  }

  .player-info__board {
    height: 15.25rem;
    width: 15.25rem;
    border: 2px solid black;
  }

  .player-info__player-space {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .game-area__gameboard-space {
    border-width: 1px;
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.5rem;
  }

  .game-area__gameboard {
    height: 15.25rem;
    width: 15.25rem;
    border: 2px solid black;
  }
}
 */
